.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.bg-tertiary{
    background-color: var(--color-tertiary);
}

.bg-dark{
    background-color: var(--color-dark);
}

.bg-light{
    background-color: var(--color-light);
}



.f-primary{
    color: var(--color-primary);
}

.f-secondary{
    color: var(--color-secondary);
}

.f-tertiary{
    color: var(--color-tertiary);
}

.f-dark{
    color: var(--color-dark);
}

.f-light{
    color: var(--color-light);
}
