.container{
    width: 100%;
}

.section{
    width: 100%;
    padding: 0 12px;
    
    @include from(laptop){
        width: 956px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    @include from(desktop){
        width: 1145px;
    }
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.justify-content-center{
   justify-content: center;
}

.align-items-center{
    align-items: center
}