// Transform PX to REM

@function fontSizeRem($size){
  $toRem: $size / 16px;
  @return #{$toRem}rem;
}


@mixin fontSize($size){
  $toRem: $size / 16px;
  font-size: #{$toRem}rem;
}

// Media queries breakpoints
@mixin from($bp){
    @if map-has-key($breakpoints, $bp){
      @media screen and (min-width: map-get($breakpoints, $bp)){
        @content;
      }
    } @else{
      @media screen and (min-width:$bp){
        @content;
      }
    }
  }