// Material Icon
@font-face {
    font-family: 'MaterialIcon';
    src: url('../fonts/material-icon/MaterialIcons-Regular.ttf') format('truetype'),
        url('../fonts/material-icon/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/material-icon/MaterialIcons-Regular.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

// Pattaya
@font-face {
    font-family: 'Pattaya-web';
    src: url('../fonts/pattaya/Pattaya-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

// Poppins
@font-face {
    font-family: 'Poppins-web Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/poppins/Poppins-Regular.woff2') format('woff2');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-web Italic';
    src: url('../fonts/poppins/Poppins-RegularItalic.ttf') format('truetype'),
    url('../fonts/poppins/Poppins-Italic.woff') format('woff'),
    url('../fonts/poppins/Poppins-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-web Bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype'),
    url('../fonts/poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/poppins/Poppins-Bold.woff2') format('woff2');

    font-weight: 700;
    font-style: italic;
}

// Font classes
.f-icon{
    font-family: 'MaterialIcon';
}

.f-pattaya{
    font-family: 'Pattaya-web';
}

.f-poppins-r{
    font-family: 'Poppins-web Regular';
}

.f-poppins-i{
    font-family: 'Poppins-web Italic';
}

.f-poppins-b{
    font-family: 'Poppins-web Bold';
}

// FontSize classes
.f-40{
    font-size: 2.5rem;
}

.f-35{
    font-size: 2.18rem;
}

.f-30{
    font-size: 1.87rem;
}

.f-20{
    font-size: 1.25rem;
}


.f-16{
    font-size: 1rem;
}

.f-14{
    font-size: 0.87rem;
}

.f-13{
    font-size: 0.81rem;
}

.f-12{
    font-size: 0.75rem;
}

// Other classes
.text-center{
    text-align: center;
}