// Material Icon
@font-face {
    font-family: 'MaterialIcon';
    src: url('../fonts/material-icon/MaterialIcons-Regular.ttf') format('truetype'),
        url('../fonts/material-icon/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/material-icon/MaterialIcons-Regular.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

// Pattaya
@font-face {
    font-family: 'Pattaya-web';
    src: url('../fonts/pattaya/Pattaya-Regular.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
}

// Poppins
@font-face {
    font-family: 'Poppins-web Regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
    url('../fonts/poppins/Poppins-Regular.woff2') format('woff2');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-web Italic';
    src: url('../fonts/poppins/Poppins-RegularItalic.ttf') format('truetype'),
    url('../fonts/poppins/Poppins-Italic.woff') format('woff'),
    url('../fonts/poppins/Poppins-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-web Bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf') format('truetype'),
    url('../fonts/poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/poppins/Poppins-Bold.woff2') format('woff2');

    font-weight: 700;
    font-style: italic;
}

// Font classes
.f-icon{
    font-family: 'MaterialIcon';
}

.f-pattaya{
    font-family: 'Pattaya-web';
    font-weight: 400;
}

.f-poppins-r{
    font-family: 'Poppins-web Regular';
    font-weight: 400;
}

.f-poppins-i{
    font-family: 'Poppins-web Italic';
    font-style: italic;
}

.f-poppins-b{
    font-family: 'Poppins-web Bold';
    font-weight: 700;
}

// FontSize classes
.f-70{
    @include fontSize(70px);
}

.f-50{
    @include fontSize(50px);
}

.f-40{
    @include fontSize(40px);
}

.f-35{
    @include fontSize(35px);
}

.f-30{
    @include fontSize(30px);
}
.f-24{
    @include fontSize(24px);
}

.f-20{
    @include fontSize(20px);
}

.f-18{
    @include fontSize(18px);
}

.f-16{
    @include fontSize(16px);
}

.f-14{
    @include fontSize(14px);
}

.f-13{
    @include fontSize(13px);
}

.f-12{
    @include fontSize(12px);
}

// Other classes
.text-center{
    text-align: center;
}