// CSS variables
:root {
    // Colors
    --color-primary: hsla(234, 88.5%, 65.3%,1);
    --color-secondary: hsla(205, 100%, 71%,1);
    --color-tertiary: hsla(0, 0%, 34%,1);
    --color-dark: hsla(233, 80.2%, 13.3%,1);
    --color-light: hsla(0, 0%, 100%,1);
    --color-grey: hsla(0, 0%, 90%, 1);

    // Font Size
    --f-70: #{fontSizeRem(70px)};
    --f-50: #{fontSizeRem(50px)};
    --f-40: #{fontSizeRem(40px)};
    --f-35: #{fontSizeRem(35px)};
    --f-30: #{fontSizeRem(30px)};
    --f-24: #{fontSizeRem(24px)};
    --f-20: #{fontSizeRem(20px)};
    --f-18: #{fontSizeRem(18px)};
    --f-16: #{fontSizeRem(16px)};
    --f-14: #{fontSizeRem(14px)};
    --f-13: #{fontSizeRem(13px)};
    --f-12: #{fontSizeRem(12px)};
  
    //z-index
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


// SASS variables
    // Colors
    $color-first: hsla(234, 88.5%, 65.3%,1);
    $color-second: hsla(205, 100%, 71%,1);
    $color-dark: hsla(233, 80.2%, 13.3%,1);
    $color-light: hsla(0, 0%, 100%,1);
    $color-grey: hsla(0, 0%, 90%, 1);

    // FontSize
    $f-70: #{fontSizeRem(70px)};
    $f-50: #{fontSizeRem(50px)};
    $f-40: #{fontSizeRem(40px)};
    $f-35: #{fontSizeRem(35px)};
    $f-30: #{fontSizeRem(30px)};
    $f-24: #{fontSizeRem(24px)};
    $f-20: #{fontSizeRem(20px)};
    $f-18: #{fontSizeRem(18px)};
    $f-16: #{fontSizeRem(16px)};
    $f-14: #{fontSizeRem(14px)};
    $f-13: #{fontSizeRem(13px)};
    $f-12: #{fontSizeRem(12px)};

    //z-index
    $z-back: -10;
    $z-normal: 1;
    $z-tooltip: 10;
    $z-fixed: 100;
    $z-modal: 1000;

    // Breakpoints
    $breakpoints: (
        movil: 320px,
        tablet: 768px,
        laptop: 1024px,
        desktop: 1200px,
    );

