.container-header{
    background-color: var(--color-primary);
    padding-bottom: 30px;

    @include from(laptop){
        background-image: url('/media/svg/header-graph.svg');
        background-size: 705px 394px;
        background-repeat: no-repeat;
        background-position: bottom -16px right -230px;
        width: 100%;
        padding-bottom: 45px;
    }

    @include from(desktop){
        background-size: 1290px 650px;
        background-position: bottom -30px right -380px;
    }
}

.main-header{
    padding: 0;

    @include from(laptop){
        width: 100%;
    }
}

.main-services{
    padding-top: 48px;
    padding-bottom: 48px;

    @include from(laptop){
        padding-top: 58px;
        padding-bottom: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-testimonies{
    padding-top: 28px;
    padding-bottom: 28px;
}

.main-portfolio{
    padding-top: 28px;
    padding-bottom: 28px;
}