.container-header{
    background-color: var(--color-primary);

    @include from(laptop){
        background-image: url('/media/svg/header-graph.svg');
        background-size: 705px 394px;
        background-repeat: no-repeat;
        background-position: bottom -16px right -230px;
        width: 100%;
        outline: 2px solid purple;
    }

    @include from(desktop){
        background-size: 1290px 650px;
        background-position: bottom -30px right -280px;
    }
}

.main-header{
    padding: 0;

    @include from(laptop){
        width: 100%;
    }
}

.main-content{

}

.main-services{
    margin-top: 48px;
}

.main-testimonies{
    padding-top: 28px;
    padding-bottom: 28px;
}

.main-portfolio{
    padding-top: 28px;
    padding-bottom: 28px;
}