.main-header{
    background-color: var(--color-primary);
    padding: 0;

    @include from(laptop){
        background-image: url('/media/svg/header-graph.svg');
        background-size: 705px 394px;
        background-repeat: no-repeat;
        background-position: bottom -16px right -230px;
    }
}

.main-content{
    padding-left:0;
    padding-right: 0;
}

.main-services{
    margin-top: 48px;
    padding: 0 12px;
}

.main-testimonies{
    padding: 28px 12px;
}

.main-portfolio{
    padding: 28px 12px;
}