.contact-form{
    margin-top: 10px;
}

pre{
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
.contact-input{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    box-shadow: 0 3px 6px hsla(0,0,0,.16);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 12px;

    &::placeholder{
        font-family: 'Poppins-web Regular';
        font-size: 13px;
        color: var(--color-tertiary);
    }

    @include from(laptop){
        width: 92%;
    }
}

.contact-message{
    position: relative;
    height: auto;
}

.contact-textarea{
    width: 96%;
    height: 230px;
    overflow-y: scroll;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
    font-size: 13px;
    margin-bottom: -6px;

    @include from(laptop){
        width: 92%;
    }
}
.contact-button{
    background-color: var(--color-secondary);  
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 0 0 0 5px;
    margin: 0;
    border-radius: 50%;
    bottom: 0;
    right: -8px;
    font-size: 30px;
    color: var(--color-light);
    cursor: pointer;

    @include from(tablet){
        right: 0;
    }

    @include from(laptop){
        width: 70px;
        height: 70px;
        bottom: 24px;
    }

    @include from(desktop){
        width: 89px;
        height: 89px;
        font-size: 40px;
    }
}

.error-message{
    background-color: var(--color-danger);
    border-radius: 30px;
    display: inline-block;
    margin-top: 5px;
    padding: 3px 12px;
    color: var(--color-light);
    font-size: 12px;
    @include from(laptop){
        font-size: 14px;
    }
}

.input-error{
    border: 2px solid color(--color-danger);
    color: color(--color-danger);

    &::placeholder{
        color: color(--color-danger);
    }
}

.tooltip-message{
    position: absolute;
    right: 0;
    bottom: 75px;
    width: 180px;
    height: 90px;
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    animation: showMessage 500ms;

    &::before{
        content:"";
        position: absolute;
        bottom:-14px;
        right:14px;
        display: block;
        width: 16px;
        height: 14px;
        clip-path: polygon(0 0, 100% 0, 50% 100%);

        @include from(laptop){
            bottom:-13px;
        }
    }

    &__text{
        width: 130px;
        height: 100%;
        display: flex;
        align-items: center;
        
        @include from(laptop){
            width: 140px;
            font-size: 14px;
        }
    }

    @include from(tablet){
        right: 7px;
    }

    @include from(laptop){
        width: 190px;
        height: 90px;
        bottom: 110px;
        right: 12px;
    }

    @include from(desktop){
        bottom: 128px;
        right: 15px;
    }
}

@keyframes showMessage{
    0%{display: none; opacity: 0;}
    1%{display: block; opacity: 0}
    100%{opacity: 1;}
}

.tooltip-message.valid{
    background-color: var(--color-success);

    &::before{
        background-color: var(--color-success);
    }
}

.tooltip-message.error{
    background-color: var(--color-danger);

    &::before{
        background-color: var(--color-danger);
    }
}

.tooltip-close{
    background-color: var(--color-light);
    position: absolute;
    top:8%;
    left:82%;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

.tooltip-close.close-valid{
    color: var(--color-success);
}

.tooltip-close.close-error{
    color:var(--color-danger);
}