.btn{
    text-align: center;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: $f-14;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.btn-secondary{
    border: 2px solid var(--color-light);
}

.btn-hero{
    padding: 12px 35px;
    font-size: $f-16;

    @include from(laptop){
        padding: 12px 54px;
        font-size: $f-20;
    }
}