.main-logo {
    transition: all .2s;

    & span{
        position: relative;
        top:-12px;
    }

    @include from(laptop){
        font-size: 55px;

        & span{
            font-size: $f-30;
            top:-26px;
        }
    }
}

.logo-resize{
    font-size: $f-30;
    
    & span{
        font-size: $f-16;
        top:-12px;
    }
}