.contact-form{
    margin-top: 10px;
}

pre{
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
.contact-input{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    box-shadow: 0 3px 6px hsla(0,0,0,.16);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 12px;

    &::placeholder{
        font-family: 'Poppins-web Regular';
        font-size: 13px;
        color: var(--color-tertiary);
    }

    @include from(laptop){
        width: 92%;
    }
}

.contact-message{
    position: relative;
    height: auto;
}

.contact-textarea{
    width: 96%;
    height: 230px;
    overflow-y: scroll;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
    font-size: 13px;
    margin-bottom: -6px;

    @include from(laptop){
        width: 92%;
    }
}
.contact-button{
    background-color: var(--color-secondary);  
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 0 0 0 5px;
    margin: 0;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: var(--color-light);
    cursor: pointer;

    @include from(laptop){
        width: 70px;
        height: 70px;
        bottom: 24px;
    }

    @include from(desktop){
        width: 89px;
        height: 89px;
        font-size: 40px;
    }
}

.error-message{
    background-color: rgb(231, 64, 64);
    border-radius: 30px;
    display: inline-block;
    margin-top: 5px;
    padding: 3px 12px;
    color: var(--color-light);
    font-size: 12px;
    @include from(laptop){
        font-size: 14px;
    }
}

.input-error{
    border: 2px solid rgb(231, 64, 64);
    color: rgb(231, 64, 64);

    &::placeholder{
        color: rgb(231, 64, 64);
    }
}