.contact-form{
    margin-top: 36px;

    @include from(laptop){
        margin-top: 22px;
    }
}
.contact-input{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px hsla(0,0,0,.16);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 12px;

    &::placeholder{
        font-family: 'Poppins-web Regular';
        font-size: 13px;
        color: var(--color-tertiary);
    }

    @include from(laptop){
        width: 92%;
    }
}

.contact-message{
    position: relative;
}

.contact-textarea{
    width: 96%;
    height: 230px;
    margin: 0;
    overflow-y: scroll;
    padding-top: 12px;
    padding-bottom: 12px;
    resize: none;
    font-size: 13px;
    overflow: hidden;

    @include from(laptop){
        width: 92%;
    }
}
.contact-button{
    background-color: var(--color-secondary);  
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 0 0 0 5px;
    margin: 0;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: var(--color-light);
    cursor: pointer;

    @include from(laptop){
        width: 70px;
        height: 70px;
        bottom: 24px;
    }

    @include from(desktop){
        width: 89px;
        height: 89px;
        font-size: 40px;
    }
}