.nav-testimonies{
    width: 110px;
    justify-content: space-between;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    &__button{
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        opacity: .18;
    }

    &__active{
        opacity: 1;
    }
}
