.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;

    &__image{
        width: 200px;
        height: 165px;
        margin-bottom: 14px;
    }

    &__parag{
        text-align: center;
        margin-top: 4px;
    }

    @include from(laptop){
       
        &__title{
            font-size: $f-50;
        }

        &__image{
            width: 322px;
            height: auto;
        }

        &__parag{
            width: 437px;
            font-size: $f-16;
        }
    }

    @include from(desktop){

        &__parag{
            width: 523px;
            font-size: $f-18;
        }
    }
}

.border-service{
    width: 144px;
    height:9px;
    display: block;
    border-radius: 20px;
    margin-top: 20px;

    @include from(laptop){
        width: 191px;
    }
}

.service-left{

    @include from(laptop){
        align-items: flex-start;

        .service__parag{
            text-align: left;
        }
    }
}
.service-right{

    @include from(laptop){
        align-items: flex-end;

        .service__parag{
            text-align: right;
        }
    }
}