.nav-testimonies {
  width: 110px;
  justify-content: space-between;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto; }
  .nav-testimonies__button {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: .18; }
  .nav-testimonies__active {
    opacity: 1; }
