.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 44px 0;

    &__image{
        width: 200px;
        height: 165px;
        margin-bottom: 14px;
    }

    &__parag{
        text-align: center;
        margin-top: 4px;
    }
}

.border-service{
    width: 144px;
    height:9px;
    display: block;
    border-radius: 20px;
    margin-top: 20px;
}