.testimonies{
    width: 100%;
}

.header-testimonies{
    padding-left:12px;
    padding-right:12px;
    padding-bottom: 47px;

    @include from(laptop){
        width: 956px;
        margin-left: auto;
        margin-right: auto;
        padding-left:0;
        padding-right:0;
        padding-bottom: 50px;

        & .intro-section{
            width: 460px;
        }
    }
    @include from(desktop){
        width: 1145px;
    }
}

.carousel-testimonies{
    width: 100%;
    height:auto;
}

.cards-slides{
    width: 100%;
    height: auto;
    @include from(laptop){
    } 
}